
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <img src="/assets/imgs/burger-demo.png" alt="burger-img">
            <h1>Eat-Da-Burger!</h1>
        </div>
        {{!-- <div class="col-md-6 text-center">
            {{#each burger}}

                <p>{{burger_name}}</p>
            {{/each}}

        </div> --}}
        <ul class="list-group">
        {{#each burger }} 
            <li class="list-group-item">
            
            {{burger_name}} <button class="devour-burger btn btn-success btn-md" data-id="{{id}}">Devour It!</button>
            </li>
        </ul>
        {{/each}}

        <div class="col-md-6 text-center"></div>
    </div>
</div>
<div class="container">
    <div="row">
        <div class="col-md-12 text-center center_section">
            <form action="/burgers/create" method="POST"></form>
            <input class="form-control form-control-lg" type="text" placeholder="ex. Cheeseburger" />
            <p>Enter a burger you want to eat then click the "Submit" button.</p><a class="btn btn-primary btn-lg active">Submit</a>
        </div>
    </div>
</div>
             
            
        

         
